// WIDGET THEME
h2 {
  font-size: 1.8rem;
  line-height: 1.1;
}

/* DATE PICKER */

.datepicker {
  border-radius: 0;
}

/* ACCORDION */


.card {
  width: 100%;
}

.card-header {
  padding: 0;

  border-color: #EEE;
  background: none;
}

.card-header .btn-link {
  text-align: left;

  color: #333;
}

.card-header .btn-link.active {
  background: #F4F4F4;
}

.card-header .btn-link:hover {
  text-decoration: none;
}

.collapse,
.collapsing {
  padding: 1rem;

  border-top: 1px solid #EEE;
  background: rgba(0,0,0,.03);
}

/* CONTAINERS */

.container-fluid-sm {
  padding: 7px;
}


/* BUTTONS */

.btn.disabled,
.btn:disabled {
  opacity: .5;
}


/* BTN PRIMARY */

.btn-primary {
  color: #FFF;
  border-color: transparent;
  background-color: $green;
}

.btn-primary:hover {
  color: #FFF;
  border-color: transparent;
  background-color: $green-dark;
}

.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  border-color: transparent;
  background-color: $green-dark;
  box-shadow: none;
}

.btn-primary.disabled,
.btn-primary:disabled {
  border-color: $green;
  border-color: transparent;
  background-color: $green;
}

.btn-secondary {
  color: #6C7581;
  border-color: #F1F1F1;
  background: #F1F1F1;
}

.btn-secondary.focus,
.btn-secondary:focus,
.btn-secondary:not([disabled]):not(.disabled).active,
.btn-secondary:not([disabled]):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle,
.btn-secondary.focus {
  border-color: transparent;
  box-shadow: none;
}

/* BTN lightblue */

.btn-lightblue {
  color: #FFF;
  border-color: transparent;
  background-color: $lightblue;
}

.btn-lightblue:hover {
  color: #FFF;
  border-color: transparent;
  background-color: $lightblue-dark;
}

.btn-lightblue:not([disabled]):not(.disabled).active,
.btn-lightblue:not([disabled]):not(.disabled):active,
.show > .btn-lightblue.dropdown-toggle {
  border-color: transparent;
  background-color: $lightblue-dark;
  box-shadow: none;
}

.btn-lightblue.disabled,
.btn-lightblue:disabled {
  border-color: $lightblue;
  border-color: transparent;
  background-color: $lightblue;
}


/* TABLES */

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}

.table > tbody > tr:first-child > td {
  border: 0;
}

/* CARDS */

.card {
  border: 0;
  border-radius: 0;
}

/* PROGRESS BAR */

.progress {
  height: 10px;

  border-radius: 50px;
  background: none;
}

.wrapper-progress {
  position: relative;

  margin-bottom: 10px;
  padding: 5px;

  border: 1px solid #AED37F;
  border-radius: 20px;
  background: rgba(255,255,255,.4);
}

.progress-bar {
  position: relative;

  border-radius: 40px;
  background: #AED37F;
  box-shadow: none;
}

/* SCROLLBARS CUSTOM */

.sb::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}
.sb::-webkit-scrollbar {
  width: 6px;

  background-color: #F5F5F5;
}
.sb::-webkit-scrollbar-thumb {
  background-color: #20ADE2;
}

/* ROW SMALL */

.row-sm {
  margin-right: -7px;
  margin-left: -7px;
}
.row-sm > [class*='col-'] {
  padding-right: 7px;
  padding-left: 7px;
}

/* RADIO PILLS */

.radio-pill {
  font-weight: normal;
  line-height: 1;

  position: relative;

  display: inline-block;

  margin-bottom: 0;
  padding-right: 5px;

  cursor: pointer;
  vertical-align: middle;
}

.radio-pill input {
  position: absolute;

  opacity: 0; /* IE 11 */

  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
       -o-appearance: none;
          appearance: none;
}

.radio-pill label {
  font-weight: normal;

  display: block;

  height: 34px;
  padding: 10px 20px;

  cursor: pointer;

  border-radius: 3px;
  background: #F4F4F4;
}

.radio-pill input:checked + label {
  color: #FFF;
  background: #0587D6;
}

.radio-pill input:disabled + label {
  color: #DDD;
}

/* TABS */

.tabs-big {
  border: 0;
}

.tabs-big .nav-link {
  font-size: 18px;

  padding: 20px 40px;

  border: 0;
  border-radius: 0;
}

.tabs-line {
  border: 0;
  border-bottom: 1px solid #EEE;
  background: #FFF;
}

.tabs-line .nav-link {
  color: #666;
  border: 0;
  border-bottom: 3px solid transparent;
}

.tabs-line .nav-link.active,
.tabs-line .nav-link.active:hover,
.tabs-line .nav-link.active:focus,
.tabs-line .nav-link.active:active {
  font-weight: 900;

  color: #222;
  border-bottom: 3px solid #ACD254;
  background: none;
}

.tabs-line .nav-link:focus,
.tabs-line .nav-link:hover {
  border-color: transparent;
  border-bottom: 3px solid #EEE;
}

/* FORMS */

label {
  font-weight: bold;
}

.radio-inline,
.form-check-label {
  font-weight: normal;
}

.form-check-input {
  margin-top: .2rem;
}

.form-control {
  border-color: #DDD;
  border-radius: 0;
  box-shadow: none;
}

.input-group-text {
  border-radius: 0;
  background: #FFF;
}

.input-group-text i {
  opacity: .5;
}


/* SELECT BOX
Custom defualt browser select tag element
*/


.select-box {
  position: relative;

  border-radius: .25rem;
}

.select-box select {
  position: relative;
  z-index: 2;

  padding-right: 27px;

  background: none;

  -webkit-appearance: none;
     -moz-appearance: none;
      -ms-appearance: none;
       -o-appearance: none;
          appearance: none;
}
.select-box select:focus {
  background: none;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  #content {
    min-height: 500px;
  }
}


/* FIX MODYO LOGIN */

.row-modyo [class*='col'] {
  padding: 0;
}

/* END FIX MODYO LOGIN */



@media (max-width: 768px) {
  /* HEADLINES */
  h2 {
    font-size: 1.6rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1.15rem;
  }
  h5 {
    font-size: 1rem;
  }
}
