// BOOTSTRAP VARIABLES

// Color system

$primary-10: #ebedef;
$primary-20: #d6dbdf;
$primary-40: #aeb6bf;
$primary-60: #85929e;
$primary-80: #5d6d7e;
$primary-100: #34495e;
$primary-dark: #2e4553;
$secondary-10: #eff0f1;
$secondary-20: #e0e2e3;
$secondary-40: #c1c5c7;
$secondary-60: #a1a8aa;
$secondary-80: #828b8e;
$secondary-100: #636e72;
$secondary-dark: #515a5e;
$tertiary-10: #f7f8f9;
$tertiary-20: #f0f2f3;
$tertiary-40: #e0e5e7;
$tertiary-60: #d1d8db;
$tertiary-80: #c1cbcf;
$tertiary-100: #b2bec3;
$tertiary-dark: #a3afb4;
$red: #df0000;
$yellow: #ffc24a;
$green: #53c737;
$primary: $primary-100;
$secondary: $secondary-100;
$light: $secondary-10;
$dark: $secondary-dark;

$start-color: #f0f2f3;
$end-color: rgba(240, 242, 243, 0);

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret: true;
$enable-rounded: true;
$enable-shadows: false;
$enable-gradients: false;
$enable-transitions: true;
$enable-prefers-reduced-motion-media-query: true;
$enable-grid-classes: true;
$enable-pointer-cursor-for-buttons: true;
$enable-responsive-font-sizes: false;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.

$spacer: 1rem;

// Body
//
// Settings for the `<body>` element.

$body-bg: $primary-10;
$body-color: $secondary-100;

// Links
//
// Style anchor elements.

$link-decoration: none;
$link-hover-decoration: underline;

// Components
//
// Define common padding and border radius sizes and more.

$border-radius: .35rem;
$border-radius-lg: .45rem;
$border-radius-sm: .25rem;
$border-color: $primary-10;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom: 1rem;

// Typography
//
// Font, line-height, and color
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700|Ubuntu:300,400,500,700&display=swap");
// stylelint-disable value-keyword-case
$font-family-sans-serif: "Ubuntu", -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: "Ubuntu Mono", sfmono-regular, menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base: $font-family-sans-serif;
// stylelint-enable value-keyword-case

$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-lg: $font-size-base * 1.25;
$font-size-sm: $font-size-base * .875;

// Modals
$modal-fade-transform:              translate(0, 100%);
$modal-show-transform:              none;
$modal-transition:                  transform 150ms ease-out;
$modal-scale-transform:             scale(1.02);
